In [1]:
print("welcome to the Collections in python")

welcome to the Collections in python

## Collections in Python
    -List
    -Tuple
    -Set
    -Dictionary

# List
    -List data can be represented by using [] or  list()
    -List allow duplicate value
    ex:-1 2 2 2 3
    -we can manupulate data by using indexing and slicing
    -Ordered formate values are  stored in  a list

In [4]:
List1=[1,2,3]
List1

[1, 2, 3]

In [6]:
list2=["Kalyan","Badulla","Rakesh"]
list2

['Kalyan', 'Badulla', 'Rakesh']

In [7]:
list3=["Ram",1,"Sam",2,"Nayan",3]
print(list3)

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [10]:
list3[2]

'Sam'

In [11]:
list3[4]

'Nayan'

In [12]:
list3[5]

3

In [13]:
list3[::1]

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [14]:
list3[::2]

['Ram', 'Sam', 'Nayan']

In [15]:
list3[-1]

3

In [16]:
list3[-4]

'Sam'

In [17]:
list3[2:3]

['Sam']

In [18]:
list3[1:3]

[1, 'Sam']

In [19]:
list3[1:]

[1, 'Sam', 2, 'Nayan', 3]

In [20]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [21]:
list3[2:]

['Sam', 2, 'Nayan', 3]

In [22]:
list3[:3]

['Ram', 1, 'Sam']

In [23]:
list3[:4]

['Ram', 1, 'Sam', 2]

In [24]:
list3[:-2]

['Ram', 1, 'Sam', 2]

In [25]:
list3[1:4]

[1, 'Sam', 2]

In [43]:
list3[2:0:-1]

['Sam', 1]

In [44]:
list3[4::-3]

['Nayan', 1]

In [46]:
demo=list3[1:3]
demo

[1, 'Sam']

In [47]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [48]:
list3.append("Ammu")
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3, 'Ammu']

In [52]:
list5=[1,2,3]
list6=["a","b","c"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c']]

In [51]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [53]:
list5

[1, 2, 3, ['a', 'b', 'c']]

In [60]:

list5

[1, 2, 3, ['a', 'b', 'c']]

In [64]:
list5.clear()
list5

[]

In [67]:
del list5
list5

NameError: name 'list5' is not defined

In [69]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5
list5.insert(3,"Ammu")
list5

[1, 2, 3, 'Ammu', 'a', 'b', 'c']

In [70]:
list7=list5+list6
list7

[1, 2, 3, 'Ammu', 'a', 'b', 'c', 'a', 'b', 'c']

In [72]:
for data in list5:
    print(data)

1
2
3
Ammu
a
b
c

In [73]:
employee=["Shamshaad","Shama","Ammu"]
manager=["Badulla","Kalyan","Hanuman"]
for emp in employee:
    manager.append(emp)
    
    
    print(manager)

['Badulla', 'Kalyan', 'Hanuman', 'Shamshaad']
['Badulla', 'Kalyan', 'Hanuman', 'Shamshaad', 'Shama']
['Badulla', 'Kalyan', 'Hanuman', 'Shamshaad', 'Shama', 'Ammu']

In [75]:
if "Badulla" in manager:
    print("He is in  Managers List")
else:
    print("No, He is not in Managers List")

He is in  Managers List

In [77]:
list5.expend()

AttributeError: 'list' object has no attribute 'expend'

In [78]:
list5.count(2)

1

In [109]:
m = []
m_size = int(input("Enter how many marks are there"))
for data in range(m_size):
    m_list=int(input("Enter Marks"))
    m.append(m_list)
    
print("Entered Marks are:",m)
def secondHighest(m):
    m.sort()
    return m[-2]

secondHighest(m)

Enter how many marks are there6
Enter Marks6
Enter Marks5
Enter Marks4
Enter Marks3
Enter Marks2
Enter Marks1
Entered Marks are: [6, 5, 4, 3, 2, 1]

5