In [7]:
l = [10,20,9,100,89,500]
l.sort()
print("Maximum number in alist is :",l[-1])
print("Second Maximum  number in alist is :",l[-2])

Maximum number in alist is : 500
Second Maximum  number in alist is : 100

In [8]:
l = [10,20,9,100,89,500]
m = l[0]  #m=10
for i in l:
    if(i>m):
        m=i
print("Maximum number in alist is :",m)
print("Second Maximum  number in alist is :",m)l = [10,20,9,100,89,500]

Maximum number in alist is : 500
Second Maximum  number in alist is : 500

In [11]:
l = l = [10,20,9,100,89,500]
m = l[0]  #m=10
for i in l:
    if(i<m):
        m=i
print("Minimum number in alist is :",m)

Minimum number in alist is : 9

In [22]:
l = [10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]>l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
print(l)

[9, 10, 20, 89, 100, 500]

In [28]:
l = [10,20,9,100,89,500]
pl1 = []
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]<l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
print(l)

[500, 100, 89, 20, 10, 9]

In [29]:
l1 = [2,3,4,5,6,7,8,9,10,11]
for i in l1:
    c=0
    for j in range(2,i):
        if(i%j==0):
            c=c+1
    if(c==0):
        print("Prime Number is " ,i)
        pl1.append(i)
print(pl1)

Prime Number is  2
Prime Number is  3
Prime Number is  5
Prime Number is  7
Prime Number is  11
[2, 3, 5, 7, 11]

In [34]:
l2  = [1,2,3,4]
print("Original List is :",l2)
for i in range(len(l2)):
    l2[i]=l2[i]*l2[i]
print("The Squared List is",l2)

Original List is : [1, 2, 3, 4]
The Squared List is [1, 4, 9, 16]

In [36]:
l2  = [1,2,3,4]
l1 = []
for i in l2:
    l1.append(i**2)
l1

[1, 4, 9, 16]

### Tuples:

* Tuples is like a lists
* Tuples are immutable list
* Tuples are create by using()

In [37]:
t = (1,2,3,"Hello",4.5,9.9)
type(t)

tuple

In [39]:
t = (1,2,3,[10,20,30],"Hello",6.55)
t

(1, 2, 3, [10, 20, 30], 'Hello', 6.55)

In [41]:
l = [(1,2,3),("Hello","Welcome","to","all"),10,20]
l

[(1, 2, 3), ('Hello', 'Welcome', 'to', 'all'), 10, 20]

In [55]:
t = (1,2,3,"Hello","5.6")
t[-1]
t[1:]
t[3]
t[-1::-1] # start ,end,step
t[0::2]

(1, 3, '5.6')

In [66]:
t = ([1,2,3,],[4,5,6])
t[0]
t[1]
t[1][0]

4

In [69]:
t = (1,2,3,4,5,6,7,8,"Hello")
t[0]
t[-1]

'Hello'

In [71]:
l = [1,2,3,4,5,6]
l[-1]=100
l

[1, 2, 3, 4, 5, 100]

## Set

In [73]:
s={"Hello","ggod"}
s

{'Hello', 'ggod'}

In [74]:
s= set()
type(s)

set

In [75]:
s={}
type(s)

dict

In [76]:
s={1,1,1,12,2,2,2,3,3,3,34,5,100,101,3.5,"hello","hello"}
s

{1, 100, 101, 12, 2, 3, 3.5, 34, 5, 'hello'}

In [78]:
s={1,2,3,[10,20,30],"nice","cook"}
s

TypeError: unhashable type: 'list'

In [79]:
s={1,2,3,(10,20,30),"nice","cook"}
s

{(10, 20, 30), 1, 2, 3, 'cook', 'nice'}

In [81]:
l=[10,20,30,10,20]
s=set(l)
s

{10, 20, 30}

In [86]:
s={1,2,3,4,5}
s.add("hello")
s.add(100)
s

{1, 100, 2, 3, 4, 5, 'hello'}

In [87]:
s.clear()
s

set()

In [91]:
del(s)

NameError: name 's' is not defined

In [92]:
s={1,2,3,4,5}
s_copy=s.copy()
s_copy

{1, 2, 3, 4, 5}

In [96]:
s1={1,2,3,4,5,6,7}
s2={10,20,30,3,8,4}
s1.difference(s2)

{1, 2, 5, 6, 7}

In [98]:
s1={1,2,3,4,5,6,7}
s2={10,20,30,3,8,4}
s1.difference(s2)
s2.difference(s1)
s1
s2

{3, 4, 8, 10, 20, 30}

In [101]:
s1={1,2,3,4,5,6,7}
s2={10,20,30,3,8,4}
s1.difference(s2)
s2.difference(s1)
s1.difference_update(s2)

s2

{3, 4, 8, 10, 20, 30}

In [105]:
s1={1,2,3,4,5,6,7}
s1.discard(2)
s

{1, 2, 3, 4, 5}

In [107]:
s1={1,2,3,4,5,6,7}
s2={10,20,30,40,50}
s1.isdisjoint(s2)

True

In [108]:
s1={1,2,3,4,5,6,7}
s2={10,20,30,40,50}
s1.issubset(s2)

False

In [109]:
s1={1,2,3,4,5,6}
s2={1,2,3}
s1.issuperset(s2)

True

In [110]:
s2.issuperset(s1)

False

In [111]:
s={10,20,1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5, 10, 20}

In [112]:
s

{2, 3, 4, 5, 10, 20}

In [113]:
s={10,20,1,2,3,4,5}
s.remove(10)
s

{1, 2, 3, 4, 5, 20}

In [116]:
s.discard(2)
s

{1, 3, 4, 5, 20}

In [118]:
a={1,2,3,4,5,6,7}
b={1,2,20,30,40,50}
a.symmentric_difference(b)

AttributeError: 'set' object has no attribute 'symmentric_difference'

In [119]:
a

{1, 2, 3, 4, 5, 6, 7}

In [120]:
b

{1, 2, 20, 30, 40, 50}

In [122]:
a.symmetric_difference(b)

{3, 4, 5, 6, 7, 20, 30, 40, 50}

In [123]:
a

{1, 2, 3, 4, 5, 6, 7}

In [130]:
a={1,2,4}
b={4,5,6,7}
a.union(b)

{1, 2, 4, 5, 6, 7}

In [131]:
a,b

({1, 2, 4}, {4, 5, 6, 7})