# keywords
    - Assignment operator
    - membership operators
    - identity operators

# Assigment operators
    - =,+=,-=,*=,/=,

In [6]:
a=10
a=a+1

In [10]:
a*=2

In [8]:
a=9
a+=2

In [9]:
a

11

In [11]:
a

22

# membership operators
    - by using opeartors we will identify a paticular element belongs to a group or not
    - they are in,not in

In [12]:
arr=[1,2,3,4,5]
inp=3
inp in arr

True

In [13]:
90 in arr

False

In [14]:
name="sowjanya reddy"
'reddy' in name

True

In [15]:
bits='000100111'
'00' in bits

True

In [16]:
4 not in arr

False

### Identity operators

    - by using this operator we can compare values
    - they are is ,is not

In [17]:
'sowjanya'is 'sowjanya reddy'

False

In [18]:
'kavya'is not 'kavya reddy'

True

In [19]:
123 is 345

False

## Conditional control statements
- it controls the flow of execution based on condition
- for that we have few different type of statements
    - conditional stat
    - looping stat
    - jump stat

### conditional stat
 - if
     - if(condition):
           statement
 - if else
 - nested if
 - else if ladder

In [20]:
if (3<5):
    print("print 3 less than 5")

print 3 less than 5

In [21]:
if(4>6):
    print("true")

In [33]:
if (51<5):
    print('true')
    print('5 is small')
print('out of if')

out of if

In [34]:
if(2>5):
    print("i inside if block")
else:
    print(" i am else block ")
print('i am under if else block')

 i am else block
i am under if else block

In [36]:
if (3<5):
    if(4<6):
        print("4 is existed in between 5 and 6")
    else:
        print('wrong choice')
else:
    print("try again")

4 is existed in between 5 and 6

In [37]:
if(3<5 and 4<6):
     print("4 is existed in between 5 and 6")

4 is existed in between 5 and 6

In [39]:
if(34>67):
    print('true')
elif(34<34):
    print('i am statement from elif 1')
elif(34<78):
    print('i am elif2')
else:
    print("false")

i am elif2

# task1: write a logic to find biggest of two numbers 34 and 2234 
    - take values from user
# task2:biggest of three numbers
# task3:even or not
 - if it is even print power of that value, otherwise print  multiply that value with 5
 
# task4:write a logic to find  a give number is 5 multiple or not

In [4]:
# biggest of two numbers
a=int(input("enter a value"))
b=int(input("enter b value"))
if(a>b):
    print(a,'is big')
else:
    print(b,'is big')

enter a value34
enter b value2234
2234 is big

In [7]:
# biggest of three numbers
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if(a>b and a>c):
    print(a,'is big')
elif(b>c):
    print(b,'is big')
else:
    print(c,'is big')

enter a value13
enter b value200
enter c value67
200 is big

In [8]:
# even or not
x=int(input("enter a value"))
if(x%2==0):
    print("number is even")
    print("power of that value is",pow(x,x))
else:
    print("multipling with 5:",x*5)

enter a value3
multipling with 5: 15

In [ ]:
val=int(input("enter a value"))
if(val%5==0):
    print(val,"is multiple of 5")
else:
    print(val,'is not multiple of 5')